<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= result.title %> </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
    </style>
</head>

<body>
    <%- include('nav.ejs') %>
    <div class="container-fluid">
        <div class="jumbotron">
            <div class="container text-center">
                <div style="text-align: right;">
                    <%= result.createdAt.toString().slice(4,25) %>
                </div>
                <h1><%= result.title %> </h1>
                <h3> <%= result.introduction %> </h3>
            </div>
        </div>
        <div class="container-fluid bg-4">
            <pre
                style="font-size: medium;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"><%= result.mainbody %> </pre>
        </div>
        <div class="container-fluid">
            <table class="table" style="width: 10%; float: right; margin-top: 2%;">
                <tbody>
                    <tr>
                        <th>Author</td>
                        <td><%= result.author %> </td>
                    </tr>
                    <tr>
                        <th>email</th>
                        <td><a href="mailto:<%= result.email %>"><%= result.email %> </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</body>

</html>